#title_txt, #link_txt {
    width: 948px;
    height: 73px;
    border-color: #31537A;
    border-radius: 5px;
}

#ex_txt {
    border-color: #31537A;
    border-radius: 5px;
}

textarea {
    width: 948px;
    height: 600px;
    resize: none;

}

.title, .link, .content, .submit_btn {
    margin: 0 auto;
    width: 948px;
    padding: 10px;
}


.save, .cancel {
    background-color: #152C46;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 15px;
}

.precautions {
    width: 948px;
    height: 150px;
    background-color: #E1E2E4;
    margin: 0 auto;
}